{% extends "AriiCoreBundle::minimal.html.twig" %}
{% block head %}
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">
{% endblock %} 
{% block body %}
<body>
 <div class="container">
    <h3>{{ name }}</h3>
    <dl>
        <dt>{{ "dbname" | trans }}</dt><dd>{{ dbname }}</dd>
        <dt>{{ "driver" | trans }}</dt><dd>{{ driver }}</dd>
        <dt>{{ "host" | trans }}</dt><dd>{{ host }}</dd>
        <dt>{{ "port" | trans }}</dt><dd>{{ port }}</dd>
        <dt>{{ "user" | trans }}</dt><dd>{{ user }}</dd>
        <dt>{{ "charset" | trans }}</dt><dd>{{ charset }}</dd>
    </dl>
    </div>
</body>
{% endblock %}
